/Perturb_Seq_Analysis/figures/
/Perturb_Seq_Analysis/output_files/
/Perturb_Seq_Analysis/anndata_objects/
/Perturb_Seq_Analysis/compute_DEGs.py
/Perturb_Seq_Analysis/compute_edist.py 
/Perturb_Seq_Analysis/analysis_scripts/degs_sbatch.sb
/Perturb_Seq_Analysis/analysis_scripts/edist_sbatch.sb
/Perturb_Seq_Analysis/analysis_scripts/degs_sbatch.out
/Perturb_Seq_Analysis/analysis_scripts/edist_computation.out
/Perturb_Seq_Analysis/analysis_scripts/edist_computation_400.out
/Perturb_Seq_Analysis/analysis_scripts/degs_computation_day6.out
/Perturb_Seq_Analysis/analysis_scripts/degs_computation.out
/Perturb_Seq_Analysis/data/
/Perturb_Seq_Analysis/analysis_scripts/compute_DEGs.py
/Perturb_Seq_Analysis/analysis_scripts/compute_edist.py
/cellranger_files/
/FASTQs/
/figures/